body {
    height: 100%;
    width:100%;
}

.logo {
    height: 20px
}

.navbar {
    background-color: rgb(132, 0, 255);
}

#search-navbar {
    background-color: lightgray;
    padding:0;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 65px);
    overflow-y: auto; /* Allow vertical scrolling within the search navbar */
}

#floors .list-group-item {
    margin: 0;
    padding: 10px;
    font-weight: bolder;
    font-size:18px;
    text-decoration: underline;
}
#floors {
    flex-grow: 3;

}


.bi-person-wheelchair {
    height: 20px;
}

.adjustment-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-dialog {
    max-width: 400px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0); /* Set background color to transparent */
    box-shadow: none; /* Remove box shadow */
}



#level-buttons {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    z-index: 1000; /* Ensure buttons are above the map */
}

#level-buttons button {
    margin-right: 10px; /* Add spacing between buttons */
    padding: 5px 10px; /* Adjust padding as needed */
    background-color: #ffffff; /* Button background color */
    border: 1px solid #cccccc; /* Button border */
    border-radius: 5px; /* Button border radius */
    cursor: pointer;
}

/* CSS to position the accessibility mode switch */
.wheelchair-toggle {
    position: absolute;
    bottom: 10px; /* Adjust this value to your preference */
    left: 10px; /* Adjust this value to your preference */
    z-index: 1000; /* Ensure it's on top of other elements */
}

#recenter {
    position: fixed;
    z-index: 1000;
    bottom: 100px; /* Position the button at the bottom */
    right: 10px; /* Position the button at the right */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 1;
}

/* Adjust the input field */
.mapboxgl-ctrl-geocoder input[type="text"] {
    padding-left: 40px !important; /* Add padding on the right for the icon */
    width: 100% !important;
    background-color: white !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 23px;
    height: 23px;
    display: inline-block;
}

.calc-route {
    z-index: 10000;
}

.dropdown-container {
    position: relative !important;
    top: 30;
    left: 30;
    width: 100%;
    height: 100%;
}

.dropdown-container:hover {
    opacity: 1;
    pointer-events: auto;
}

#dropdownMenuButton {
    left:20px;
    top:20px;
    position:relative;
    z-index: 1000 !important;
}


#dropdown {
    position: relative !important;
    top : 100px;
    left: 50px;
    z-index: 1000;
}

#searchbar {
    width: 30% !important;
    background-color: white;
    margin-right: 100px;
}


.mapboxgl-map {
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: absolute !important;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

#map {
    width: 100%;
    height: 100%;
}

.info_bar {
    position: relative !important;
    width: 100%;
    left: 10px;
    top: 10px;
    /* background-color: red !important; */
    z-index: 1;
    padding: 0;
    margin: 0;
}

.infobar-li {
    display: inline-block;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.menu-icon {
    position: absolute;
    left: 10px;
}

.btn-outline-success {
    color: black;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.mapboxgl-ctrl-geocoder {
    font-size: 18px;
    line-height: 24px;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #fff;
    width: 30px !important;
    z-index: 1;
    border-radius: 20px;
    transition: width .25s, min-width .25s;
}

.sidebar {
    list-style: none;
    width: 100%;
    padding-left: 0;
}

#pois-box{
    margin-top: 0;
    padding: 0;
    display: inline-block;
}

#pois {
    display: inline-block;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
    margin-left: 50px;
    width: 200px;
    height: 30px;
}
