body {
    height: 100%;
    width:100%;
    font-family: 'Roboto Flex', sans-serif; /* Arial font */
}

.modal-dialog {
    max-width: 400px;
}

.adjustment-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0); /* Set background color to transparent */
    box-shadow: none; /* Remove box shadow */
}

.bi-person-wheelchair {
    height: 20px;
}
/* Style for menu buttons */
.menu-button {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    transition: background-color 0.3s;
}

/* Style for menu divider */

.sidebar {
    list-style: none;
    width: 100%;
    padding-left: 0;
    border: none;
}

/* CSS to position the accessibility mode switch */
.wheelchair-toggle {
    position: absolute;
    bottom: 10px; /* Adjust this value to your preference */
    left: 10px; /* Adjust this value to your preference */
    z-index: 1000; /* Ensure it's on top of other elements */
}

.mapboxgl-map {
    font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: absolute !important;
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.info_bar {
    position: relative !important;
    width: 100%;
    left: 10px;
    top: 20px;
    z-index: 1;
    padding: 0;

}

#searchinfo {
    display: inline-block;
    background-color: white;
    box-shadow: 0 1px 2px rgba(63, 68, 64, 0.3),0 1px 3px 1px rgba(59, 68, 61, 0.15);
    border-radius: 5px;
}

#searchbar {
    display: inline-flex;
    box-shadow: 0, 0, 0, 0 !important;
}

.menu-icon {
    display: inline-block;
    margin-left: 10px;
    
}

.direction-icon {
    margin-right: 10px;    
}

.mapboxgl-ctrl-geocoder {
    font: 15px / 20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
    width: calc(100% - 360px);
    min-width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    margin-left: 0;
    border-radius: 0 0 3px 0;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
    /* background-color: rgb(91, 68, 167) !important; */
    margin-left: 20px;
    width: 80%;
    box-shadow: 0, 0, 0, 0 !important;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    display: inline-block;
    width: 40%;
}

#pois-box{
    margin: 0px 0px 0px 50px;
    padding: 0;
    display: inline-block;
    width: 50%;
}

#pois-box button {
    background-color: #fff; /* White background */
    /* border: 1px solid #ccc;  */
    border-radius: 15px; /* Add border-radius for rounded corners */
    color: black; /* Dark green text */
    padding: 5px 20px; /* Adjust padding */
    font-size: 15px; /* Adjust font size */
    cursor: pointer; /* Mouse pointer on hover */
    /* transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; Smooth transition */
    align-items: center;
    margin-right: 5px;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    white-space: pre;
    box-shadow: 0 1px 2px rgba(63, 68, 64, 0.3),0 1px 3px 1px rgba(59, 68, 61, 0.15);
    border: none;
    
}


#pois-box button:active {
    color: #000000;;
    transform: scale(0.99);
}

#pois-box button:hover {
    background-color: #f0f0f0;
    box-shadow: 0 1px 2px rgba(65, 69, 66, 0.3),0 3px 3px 1px rgba(39, 42, 40, 0.15);
}


#recenter {
    position: fixed;
    z-index: 1000;
    top: 145px; /* Position the button at the bottom */
    right: 9px; /* Position the button at the right */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 6.5px;
    cursor: pointer;
    box-shadow: 1;
}

#recenter:hover {
    background-color: #f0f0f0;
    color: black;
}

.btn-outline-success {
    color: black;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%);
}

#directions {
    display: none;
    background-color: white;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1000;
    width: 20%;
    height: 20%;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

#direction-search-zone {
    display: flex;
    width: 100%;
    height: 75%;
    flex-direction: row;
    border-bottom: solid 2px  rgb(0 0 0 / 10%);
    align-items: center;
    justify-content: center;
}

#end .mapboxgl-ctrl-geocoder {
    z-index: 0;
}

#backbutton {
    height: 100%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: solid 2px  rgb(0 0 0 / 10%);
}

#search-zone {
    display: inline-block;
    border-left:  rgb(0 0 0 / 10%);
    width: 92%;
    margin-left: 15px;
    padding: 10px;

}

#turnbyturn-info {
    position: absolute;
    display:none;
    top: 25%;
    left: 10px;
    z-index: 90;
    background-color: white;
    width: 20%;
    box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

#mile-time{
    display: flex;
    padding: 10px;
    font-size: 20px;
    border-bottom: solid 2px  rgb(0 0 0 / 10%);
}

#time {
    display: inline-block;
}

#mile {
    display: inline-block;
    margin-left: 10px;
}

#turnbyturn-dir {
    display: flex inline-block;

}

#eachturn {
    padding: 10px 0px 10px 20px;
    font-size: 14px;
    border-bottom: solid 2px  rgb(0 0 0 / 10%);
    width: 100%;
}

#geolocate {
    position: fixed;
    z-index: 1000;
    top: 160px; /* Position the button at the bottom */
    right: 10px; /* Position the button at the right */
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 1;
}

#floor_buttons {
    position: fixed;
    z-index: 1000;
    bottom: 50px; /* Position the button at the bottom */
    right: 10px; /* Position the button at the right */
    padding: auto;
}

#floor_buttons button {
    display: block;
}


#floor1, #floor2 {
    background-color: #ffffff; /* Green background */
    color: #000000; /* White text */
    padding: 20px 25px; /* Padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Text size */
    margin: 10px; /* Margin */
    cursor: pointer; /* Cursor on hover */
    border: none; /* No border */
    border-radius: 40px; /* Slightly rounded corners */
    box-shadow: 0 2px 2px rgba(105, 105, 105, 0.8); /* Add shadow */
    transition: all 0.3s ease;
}
#floor1:hover, #floor2:hover {
    background-color: #f0f0f0; /* Darker green background on hover */
    color: #000000; /* Lighter text on hover */
    box-shadow: 0 3px 3px rgba(121, 121, 121, 0.8);
}

#floor1:active, #floor2:active {
    background-color: #c2c2c2; /* White background */
    color: #000000; /* Black text */
    transform: scale(0.95);
}

#floor1.active, #floor2.active {
    background-color: #265626; /* White background */
    color: #ffffff; /* Black text */
    box-shadow: 0 2px 2px rgba(80, 80, 80, 0.8);
}

i {
    color: #265626;
}
.offcanvas {
    background-color: #f6f6f6; /* Light gray background */
    color: #343a40; /* Dark gray text */
    transition: all 0.3s ease; /* Transition */
    border: none;
    width: 300px;
}

.offcanvas-header {
    background-color: #265626; /* Dark gray background */
    color: #f8f9fa; /* Light gray text */
    padding: 15px; /* Padding */
}


.offcanvas-title {
    font-family: 'Roboto Flex', sans-serif; /* Arial font */
    font-size: 16px; /* Text size */
    font-weight: 500;
}


.menu-button {
    width: 100%;
    color: #000000; 
    font-size: 16px; 
    cursor: pointer; 
}

.menu-button:hover {
    color: #367436; 
}

.menu-item:hover {
    color: #367436;
}

.form-check-input {
    cursor: pointer;
}

.form-check-input:checked {
    background-color: #265626; /* Green background when checked */
    border-color: #265626; /* Green border when checked */
}

.menu-item.form-switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#feedback-button {
    position: fixed;
    z-index: 1000;
    background-color: #265626;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 1;
}



.feedback-section button {
    margin-top: 5px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
}

.menu-item {
    border-bottom: solid 1px #b9b9b9;
    padding: 10px;
    width: 100%;
}

.feedback-section {
    display: block;
}

#feedback {
    border: none;
}
